#about {
  padding: 80px 0 20px;
  overflow: hidden;
}

#about .about-content {
  padding-left: 30px;
  padding-right: 30px;
}

#about h2 {
  color: var(--primary-color);
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: slideInUp 1s ease;
  margin-top: 0;
}

#about .card {
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 3s ease forwards, slideInRight 3s ease-out forwards,
    slideInBottom 3s ease-out forwards;
  position: relative;
  z-index: 1;
  max-width: 500px;
  width: 100%;
}

#about .card-body {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px); /* Frosted glass effect */
  border-radius: 10px; /* Rounded corners */
  margin-top: -10px;
}

#about .card-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
  border-bottom: 1px solid #02577a;
  margin-bottom: 10px;
  margin-top: 2px;
  padding-bottom: 10px;
}

#about .card-title i {
  margin-right: 10px;
  color: var(--accent-color);
}

#about .card-text {
  font-size: 14px;
  line-height: 1.6;
  color: var(--primary-color);
  opacity: 0;
  animation: fadeIn 3s ease forwards;
}

#about img {
  max-width: 100%;
  height: auto;
  border-image: linear-gradient(
      135deg,
      var(--accent-color),
      var(--secondary-color)
    )
    1;
  border-radius: 73% 27% 41% 59% / 68% 67% 33% 32%;
  box-shadow: 0 4px 8px var(--accent-color), var(--secondary-color);
  animation: bounce 2s infinite alternate;
}

@media (max-width: 768px) {
  #about .about-content {
    padding-left: 0;
    padding-top: 30px;
  }
}

@media (max-width: 576px) {
  #about h2 {
    font-size: 28px;
  }

  #about .card-text {
    font-size: 14px; /* Further reduce text font size for smaller screens */
  }
}

/* Keyframe animations */
@keyframes slideInUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInleft {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

/* Keyframe animation for card */
@keyframes cardFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
