/* Contact Section */
#contact {
  padding: 80px 0;
  position: relative;
  height: 100vh; /* Set the height of the section to 100vh */
  overflow: hidden; /* Hide overflow to prevent scrolling */
}

#contact .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.contact-info {
  color: var(--secondary-color);
  padding: 20px;
}

.contact-info p {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.contact-info p i {
  margin-right: 10px;
  color: var(--accent-color);
}

.label {
  margin-right: 10px;
}

.contact-form {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid #02577a;
  border-radius: 10px;
  color: var(--secondary-color);
  margin-top: 110px;
  margin-bottom: 80px;
  padding: 30px;
}

.contact-form h2 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  color: var(--primary-color);
  border-bottom: 1px solid #02577a;
}

.contact-form .form-group {
  margin-bottom: 20px;
  position: relative;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  margin-left: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #01303f;
  color: var(--secondary-color);
  padding: 10px;
  width: 100%;
  transition: border-bottom-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  outline: none;
  color: var(--secondary-color);
  border-bottom-color: #02577a;
  background-color: rgba(255, 255, 255, 0.1);
}

.contact-form textarea {
  height: 120px;
  color: #01303f;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 14px;
}

.contact-form .form-group i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--accent-color);
}

.contact-form button {
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.contact-form button:hover {
  color: var(--accent-color);
  background-color: var(--primary-color);
}

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

#bottom {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}

#footer {
  font-size: 14px;
  color: aliceblue;
  text-align: center;
  padding-top: 12px;
  border-top: 1px solid #02577a;
}
