#skills {
  padding: 60px 0;
}

#skills h2 {
  color: #bfa181;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

#skills h3 {
  color: #bfa181;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  color: #178582;
  border: none;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(20px);
  position: relative;
  overflow: hidden;
  animation: fadeInUp 1s ease-out forwards;
  transition: background-color 0.5s ease-in-out;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
}

.list-group-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #0d3a38;
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.list-group-item:hover {
  background-color: #0d3a38;
  color: #bfa181;
}

.list-group-item:hover::before {
  width: 100%;
}

.list-group-item i {
  margin-right: 10px;
  transition: transform 0.3s ease-out;
}

.list-group-item:hover i {
  transform: scale(1.3);
}

.progress {
  background-color: transparent;
  height: 15px;
  margin-top: 10px;
  border: 1px solid#0d3a38;
  border-radius: 4px;
  overflow: hidden;
}

.progress:hover {
  border: 1px solid#bfa181;
}

.progress-bar {
  border-radius: 4px;
  transition: width 0.8s ease-in-out;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
