#skills {
  padding: 20px 0;
  height: 100vh;
}

#skills h2 {
  color: var(--primary-color);
  margin-top: 40px;
  margin-bottom: 20px;
  opacity: 0;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 36px;
  text-transform: uppercase;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

#skills h3 {
  color: var(--primary-color);
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  color: var(--accent-color); /* Adjusted text color */
  border: none;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(20px);
  position: relative;
  overflow: hidden;
  animation: fadeInUp 1s ease-out forwards;
  transition: background-color 0.5s ease-in-out;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow */
}

.list-group-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--accent-color); /* Set accent color */
  transition: width 0.5s ease-in-out;
  z-index: -1;
}

.list-group-item:hover {
  background-color: var(--accent-color); /* Set accent color */
  color: var(--primary-color); /* Adjusted text color */
}

.list-group-item:hover::before {
  width: 100%;
}

.list-group-item i {
  margin-right: 10px;
  transition: transform 0.3s ease-out;
}

.list-group-item:hover i {
  transform: scale(1.3);
}

.progress {
  background-color: transparent;
  height: 12px;
  margin-top: 5px;
  border: 1px solid #02577a; /* Set border color */
  border-radius: 4px;
  overflow: hidden;
}

.progress:hover {
  border: 1px solid var(--accent-color); /* Set accent color */
}

.progress-bar {
  border-radius: 4px;
  transition: width 0.8s ease-in-out;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
