@font-face {
  font-family: "NolluqapersonaluseRegular";
  src: url("../fonts//NolluqapersonaluseRegular-VGMge.otf") format("opentype");
}

body {
  padding-top: 38px;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

/* Navigation Bar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  transition: top 0.3s;
}

.navbar-toggler {
  background-color: #178582;
}

.navbar-light .navbar-nav .nav-link {
  color: #bfa181;
  position: relative;
}

.navbar-light .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #bfa181;
  transform-origin: center bottom;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #178582;
}

.navbar-brand img {
  height: 30px;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

main::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Sections */
main > section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  transition: background-color 0.3s ease-in-out;
}

/* Home Section Styles */
#home {
  color: #fff;
  padding: 60px 0;
}

#home h2 {
  font-size: 1.5rem;
  margin-top: -30px;
  font-family: "Raleway";
}

#home h2 span {
  font-family: "Raleway";
  font-size: 5rem;
  color: #bfa181;
}

#home #work {
  font-size: 3rem;
  margin-top: -20px;
  font-family: "Raleway";
}

#home p {
  font-size: 1.25rem;
  margin-bottom: 30px;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Open Sans";
}

#home img {
  border: 5px solid #bfa181;
  border-radius: 50%;
  max-width: 100%;
  margin: 0 auto;
  outline-style: inset;
  outline-color: #178582;
  outline-offset: 30px;
}

#home .btn-primary,
#home .btn-outline-dark {
  color: #bfa181;
  border-color: #bfa181;
  margin-bottom: 30px;
  margin: 15px;
}

#home .btn-primary:hover,
#home .btn-outline-dark:hover {
  color: #bfa181;
  background-color: #0d3a38;
  border-color: #bfa181;
}

/* Specific style for Contact Section */
#contact {
  min-height: 90vh;
}

/* Footer Section */
main > footer {
  position: relative;
}

main > footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

/* Adjustments for mobile responsiveness */
@media (max-width: 767px) {
  body {
    padding-top: 20px;
  }

  .navbar {
    padding: 10px;
  }

  #home p {
    font-size: 16px;
  }

  #home img {
    max-width: 70%;
  }

  #home .btn-primary,
  #home .btn-outline-dark {
    margin-top: 5px;
    margin-bottom: 70px;
    padding: 6px 14px;
    font-size: 14px;
  }
}
