@font-face {
  font-family: "NolluqapersonaluseRegular";
  src: url("../fonts//NolluqapersonaluseRegular-VGMge.otf") format("opentype");
}

body {
  padding-top: 16px;
  margin: 0;
  overflow: hidden;
  scroll-behavior: smooth;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

/* Navigation Bar Styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  transition: top 0.3s;
}

.navbar-toggler {
  background-color: #178582;
}

.navbar-light .navbar-nav .nav-link {
  color: #bfa181;
  position: relative;
}

.navbar-light .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #bfa181;
  transform-origin: center bottom;
  transform: translateX(-50%);
  transition: 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover::before {
  width: 100%;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #178582;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #178582;
  border-bottom: 2px solid#bfa181;
}

.navbar-brand img {
  height: 30px;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

main::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Sections */
main > section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  transition: background-color 0.3s ease-in-out;
}

/* Home Section Styles */
#home {
  color: #fff;
  padding: 60px 0;
}

#home h2 {
  font-size: 1.5rem;
  margin-top: -30px;
  font-family: "Raleway";
}

#home h2 span {
  font-family: "Raleway";
  font-size: 5rem;
  color: #bfa181;
}

#home #work {
  margin-top: 40px;
  font-family: "Raleway";
}

#home #typing-text {
  color: #178582;
  font-size: 3rem;
  margin-top: -20px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #178582;
  display: inline-block;
}

#home #cursor {
  font-size: 40px;
  display: inline-block;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}

#home .lead p {
  font-size: 1.25rem;
  margin-bottom: 30px;
  text-align: justify;
  text-justify: inter-word;
  font-family: "Open Sans";
}

#home .profile-container {
  position: relative;
  display: inline-block;
}

#home img {
  border: 5px solid #bfa181;
  border-radius: 50%;
  max-width: 100%;
  margin: 0 auto;
  outline-style: solid;
  outline-color: #178582;
  outline-offset: 30px;
  position: relative;
}

.power-icon {
  position: absolute;
  top: 103.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #bfa181;
  padding: 6px 9px 6px 10px;
  border-left: 2px solid #178582;
  border-right: 2px solid #178582;
  border-radius: 40%;
  cursor: pointer;
}

.social-icons {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.social-icons.visible {
  opacity: 1;
}

.social-icons i {
  font-size: 24px;
  pointer-events: auto;
  animation: iconFadeIn 0.5s ease-in-out;
}

.social-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.social-icons.visible .social-icon {
  opacity: 1;
  transform: rotate(0);
  animation: iconSpin 1s ease-in-out;
}

/* Keyframes for fade-in animation */
@keyframes iconFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Keyframes for spinning animation */
@keyframes iconSpin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.social-icon.facebook {
  color: #1877f2;
  top: -26.5px;
  left: 48%;
  transform: translateX(-50%);
}

.social-icon.github {
  top: 50%;
  left: -26px;
  transform: translateY(-50%);
}

.social-icon.telegram {
  color: #0088cc;
  top: 50%;
  right: -26.5px;
  transform: translateX(-50%);
}

#home .btn-primary,
#home .btn-outline-dark {
  color: #bfa181;
  border-color: #bfa181;
  margin-bottom: 30px;
  margin: 15px;
}

#home .btn-primary:hover,
#home .btn-outline-dark:hover {
  color: #bfa181;
  background-color: #0d3a38;
  border-color: #bfa181;
}

/* Footer Section */
main > footer {
  position: relative;
}

main > footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  z-index: -1;
}
