
    body,
    html {
        height: 100%;
        margin: 0;
        background: linear-gradient(to right, #3498db, #2980b9); /* Adjusted background gradient */
        font-family: Arial, sans-serif;
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-form {
        background: linear-gradient(to right, #cbe3f4, #a2d9ff); /* Adjusted background gradient */
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        width: 400px;
        position: relative;
    }

    .login-form-header {
        text-align: center;
        margin-bottom: 30px;
    }

    .login-form-header h2 {
        font-size: 36px;
        color: #3498db; /* Adjusted header color */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        margin: 0; /* Added to reset default margin */
    }

    .login-form .form-group {
        margin-bottom: 20px;
    }

    .login-form .form-control {
        border-radius: 20px;
        padding: 15px;
        font-size: 18px;
    }

    .login-form .form-control::placeholder { /* Added placeholder styling */
        color: #95a5a6; /* Adjusted placeholder color */
        font-style: italic; /* Added italic font style */
        font-size: 14px;
    }

    .login-form .btn {
        border-radius: 20px;
        padding: 15px 30px;
        font-weight: bold;
        background-color: #2ecc71;
        border-color: #27ae60;
        font-size: 18px;
    }

    .login-form .btn:hover {
        background-color: #27ae60;
        border-color: #2ecc71;
    }

    .exit-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 24px;
        color: #3498db; /* Adjusted exit icon color */
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .exit-icon:hover {
        transform: rotate(180deg);
    }

    /* Styling for input icons */
    .input-group-text {
        background-color: #3498db; /* Adjusted background color of the icons */
        border: none;
        color: #fff;
        border-radius: 0 20px 20px 0;
    }

    .input-group-text i {
        transition: transform 0.3s ease;
        cursor: pointer;
    }

    .input-group-text:hover i {
        transform: scale(1.1);
    }